<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hgicreate.rno.mapper.DtNcellMapper">
    <select id="findByDataIdInOrderByDataIdAsc"
            resultType="com.hgicreate.rno.domain.DtNcell">
      SELECT n.* FROM RNO_LTE_DT_NCELL n, RNO_LTE_DT_DATA d WHERE d.ID =
             n.DATA_ID AND d.DESC_ID= #{id} ORDER BY n.DATA_ID ASC
    </select>

</mapper>